
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@foreach (var item in ViewBag.test)
{
    <li>@item.Thang</li>
    <li>@item.Total</li>

}

<h2>Index</h2>
