
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="span2"></div>
<div class="span8 well">
    <h1 style="margin: 0px; padding: 0px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); font-size: 13px; border: 0px; outline: 0px; vertical-align: baseline; font-family: arial; line-height: 21px;">
        <span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: xx-large; vertical-align: baseline; color: rgb(255, 0, 0); background: transparent;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 32px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; font-family: &quot;times new roman&quot;, times; background: transparent;">C&Ocirc;NG TY DU LỊCH CHI&Ecirc;U&nbsp;TOUR</span></strong></span>
    </h1>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        &nbsp;
    </p>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        <span style="margin: 0px; padding: 0px; color: rgb(255, 0, 0); font-family: Poppins, sans-serif; font-size: 14px;">GIỚI THIỆU CHI&Ecirc;U TOUR</span>
    </p>
    <p style="margin: 0px 0px 10px; padding: 0px 0px 10px; line-height: 24px; text-align: justify; box-sizing: border-box; outline: none; color: rgb(51, 51, 51); font-family: Poppins, sans-serif; font-size: 14px;">
        <span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(255, 0, 0);">Chi&ecirc;u Tour</span><span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 0, 255);">&nbsp;( CTY TNHH DU LỊCH CHI&Ecirc;U ) được th&agrave;nh lập bởi 05 th&agrave;nh vi&ecirc;n đam m&ecirc; v&agrave; nhiều kinh nghiệm trong việc tổ chức du lịch .</span>
    </p>
    <p style="margin: 0px 0px 10px; padding: 0px 0px 10px; line-height: 24px; text-align: justify; box-sizing: border-box; outline: none; color: rgb(51, 51, 51); font-family: Poppins, sans-serif; font-size: 14px;">
        <span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(255, 0, 0);">Chi&ecirc;u tour</span><span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 0, 255);">&nbsp;ra đời với mong muốn quảng b&aacute; v&agrave; giới thiệu sản phẩm du lịch đến tất cả du kh&aacute;ch trong v&agrave; ngo&agrave;i nước. Đồng thời đưa du kh&aacute;ch đến những v&ugrave;ng đất đẹp nhất trong v&agrave; ngo&agrave;i nước.</span>
    </p>
    <p style="margin: 0px 0px 10px; padding: 0px 0px 10px; line-height: 24px; text-align: justify; box-sizing: border-box; outline: none; color: rgb(51, 51, 51); font-family: Poppins, sans-serif; font-size: 14px;">
        <span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 0, 255);">B&ecirc;n cạnh việc tổ chức tour du l&iacute;ch thuần tu&yacute; ,&nbsp;</span><span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(255, 0, 0);">Chi&ecirc;u tour</span><span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 0, 255);">&nbsp;c&ograve;n k&egrave;m c&aacute;c hoạt động Teambuilding , Gala Dinner , Lửa trại cho c&aacute;c tổ chức cty khi tham gia với Chi&ecirc;u tour .</span>
    </p>
    <p style="margin: 0px 0px 10px; padding: 0px 0px 10px; line-height: 24px; text-align: justify; box-sizing: border-box; outline: none; color: rgb(51, 51, 51); font-family: Poppins, sans-serif; font-size: 14px;">
        <span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 0, 255);">Với phương hướng kh&aacute;ch h&agrave;ng l&agrave; tr&ecirc;n hết . Ch&uacute;ng t&ocirc;i muốn đem lại c&aacute;c gi&aacute; trị tốt nhất cho qu&yacute; kh&aacute;ch .</span>
    </p>
    <p style="margin: 0px 0px 10px; padding: 0px 0px 10px; line-height: 24px; text-align: justify; box-sizing: border-box; outline: none; color: rgb(51, 51, 51); font-family: Poppins, sans-serif; font-size: 14px;">
        <span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 0, 255);">H&atilde;y đến với Chi&ecirc;u tour ch&uacute;ng t&ocirc;i sẽ gửi đến cho qu&yacute; kh&aacute;ch những gi&aacute; trị đ&iacute;ch thực nhất .</span>
    </p>
    <p style="margin: 0px 0px 10px; padding: 0px 0px 10px; line-height: 24px; text-align: justify; box-sizing: border-box; outline: none; color: rgb(51, 51, 51); font-family: Poppins, sans-serif; font-size: 14px;">
        <span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(0, 128, 0);">Trải qua quá trình hoạt đ&ocirc;̣ng cty Chi&ecirc;u tour đã được T&ocirc;̉ng Cục Du Lịch chứng nh&acirc;̣n gi&acirc;́y phép lữ hành qu&ocirc;́c t&ecirc;́&nbsp;</span><span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; font-weight: 700;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; outline: none; color: rgb(255, 0, 0);">s&ocirc;́ GP/No:79-856/2018/CTDL LHQT</span></span>
    </p>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        &nbsp;
    </p>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        <span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: medium; vertical-align: baseline; color: rgb(255, 0, 255); font-family: &quot;times new roman&quot;, times; background: transparent;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; background: transparent;">LI&Ecirc;N HỆ 24/7</strong></span>
    </p>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        <span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; text-decoration-line: underline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(255, 0, 0); background: transparent;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: medium; vertical-align: baseline; font-family: &quot;times new roman&quot;, times; background: transparent;">Địa chỉ văn ph&ograve;ng tại Tp. Hồ Ch&iacute; Minh:</span></strong></span></span>
    </p>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        <strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 128, 0); text-align: center; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: medium; vertical-align: baseline; font-family: &quot;times new roman&quot;, times; background: transparent;">03 Nguyễn Văn Lượng, P 17, Q. G&ograve; Vấp, Tp. Hồ Ch&iacute; Minh</span></strong>
    </p>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        <strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: medium; vertical-align: baseline; color: rgb(0, 128, 0); font-family: &quot;times new roman&quot;, times; background: transparent;">Hotline:<strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;">&nbsp;<span style="margin: 0px; padding: 0px; color: rgb(255, 0, 0);">(08) 22.37.00.77- (08) 62.57.66.81</span></span></strong></strong>
    </p>
    <h1 style="margin: 0px; padding: 0px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); font-size: 13px; border: 0px; outline: 0px; vertical-align: baseline; font-family: arial; line-height: 21px;">
        <span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: x-large; vertical-align: baseline; background: transparent;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: medium; vertical-align: baseline; color: rgb(0, 128, 0); font-family: &quot;times new roman&quot;, times; background: transparent;"><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; background: transparent;">Di động/zalo/viber:&nbsp;<span style="margin: 0px; padding: 0px; color: rgb(255, 0, 0);">0909.909.872</span>&nbsp;</strong></strong></span>
    </h1>
    <p style="margin: 0px; padding: 0px; line-height: 21px; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(50, 50, 50); border: 0px; outline: 0px; font-size: 13px; vertical-align: baseline; font-family: arial;">
        <strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: medium; vertical-align: baseline; color: rgb(0, 128, 0); font-family: &quot;times new roman&quot;, times; background: transparent;">Email:&nbsp;<span style="margin: 0px; padding: 0px; color: rgb(255, 0, 0);">chieutour@gmail.com</span></strong>
    </p>



</div>
