
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="span1"></div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đổi mật khẩu</li>
    </ul>
    <h3> Đổi mật khẩu</h3>
    <hr class="soft" />

    <div class="row">
        <div class="span10">
            <div class="span1"></div>
            <div class="well span6">
                <h5>ĐỔI MẬT KHẨU ĐĂNG NHẬP</h5>
                @using (Html.BeginForm("changePassword", "NguoiDung", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <label class="control-label">Mật khẩu cũ*</label>
                        <div class="controls">
                            <input class="form-control" type="password" name="oldPass" placeholder="Nhập mật khẩu hiện tại" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Mật khẩu mới*</label>
                        <div class="controls">
                            <input class="form-control" type="password" name="newPass" placeholder="Nhập mật khẩu mới" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nhập lại mật khẩu*</label>
                        <div class="controls">
                            <input class="form-control" type="password" name="confirmPass" placeholder="Nhập mật khẩu mới" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                            <a href="@Url.Action("Index", "Home")" class="btn btn-dark">Hủy bỏ</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

